name: Fuzzing
on:
  schedule:
    - cron: '0 1 * * *' # Daily at 01:00 UTC
  workflow_dispatch:

permissions:
  contents: read

jobs:
  fuzz:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: '1.24'

      - name: Run Fuzzing
        run: go test -fuzz FuzzParseDuration -fuzztime 1m ./pkg/locksmith
