name: Fuzzing
on:
  schedule:
    - cron: '0 1 * * *' # Daily at 01:00 UTC
  workflow_dispatch:

permissions: read-all

jobs:
  fuzz:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Set up Go
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5.6.0
        with:
          go-version: '1.25.4'

      - name: Run Fuzzing
        run: go test -fuzz FuzzParseDuration -fuzztime 1m ./pkg/locksmith
