name: Fuzzing
on:
  schedule:
    - cron: '0 1 * * *' # Daily at 01:00 UTC
  workflow_dispatch:

permissions:
  contents: read

jobs:
  fuzz:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Go
        uses: actions/setup-go@3041bf56c941b39c61721a86cd11f3bb1338122a # v5.2.0
        with:
          go-version: '1.25.4'

      - name: Run Fuzzing
        run: go test -fuzz FuzzParseDuration -fuzztime 1m ./pkg/locksmith
